{% extends "base.html" %}
{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold" href="/">MiniShop</a>

    <form class="d-flex ms-3 w-50" method="GET" action="/">
      <input class="form-control me-2" type="search" name="q" placeholder="Search products">
      <button class="btn btn-light" type="submit">Search</button>
    </form>

    <div class="ms-auto">
      <a href="/cart" class="btn btn-warning">
        🛒 Cart ({{ cart_count }})
      </a>
    </div>

  </div>
</nav>

<!-- Banner -->
<div class="container mt-3">
  <div class="p-5 text-center banner">
    <h1>Big Sale is Live 🔥</h1>
    <p>Up to 70% Off on all products</p>
    <a href="#products" class="btn btn-dark">Shop Now</a>
  </div>
</div>

<!-- Offers -->
<div class="container mt-3">
  <div class="alert alert-success text-center">
    🎉 Free Delivery on Orders Above ₹499 | Extra 10% OFF with Coupon: MINI10
  </div>
</div>

<!-- Categories -->
<div class="container mt-4">
  <div class="row text-center">

    <div class="col">
      <div class="card p-3">
        📱<br>Mobiles
      </div>
    </div>

    <div class="col">
      <div class="card p-3">
        👕<br>Fashion
      </div>
    </div>

    <div class="col">
      <div class="card p-3">
        💻<br>Electronics
      </div>
    </div>

    <div class="col">
      <div class="card p-3">
        🏠<br>Home
      </div>
    </div>

  </div>
</div>
<h2 class="text-center mt-5 mb-4">🔥 Trending Products</h2>

<!-- Products -->
<div class="container mt-4" id="products">
  <div class="row">

    {% for product in products %}
    <div class="col-md-3">
      <div class="card product-card shadow-sm h-100"></div>

        <img src="{{ product.image }}" class="card-img-top" alt="product image">

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <h5 class="text-success fw-bold">
  ₹{{ product.price }}
</h5>


          <a href="/cart/add/{{ product.id }}" class="btn btn-primary w-100">
            Add to Cart
          </a>
        </div>

      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}